[submodule "chipmunk/Chipmunk2D"]
	path = chipmunk/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D
[submodule "klib/klib"]
	path = klib/klib
	url = https://github.com/attractivechaos/klib
[submodule "tinycthread/tinycthread"]
	path = tinycthread/tinycthread
	url = https://github.com/tinycthread/tinycthread
[submodule "sokol/sokol"]
	path = sokol/sokol
	url = https://github.com/floooh/sokol
[submodule "handmade-math/Handmade-Math"]
	path = handmade-math/Handmade-Math
	url = https://github.com/HandmadeMath/Handmade-Math
[submodule "par/par"]
	path = par/par
	url = https://github.com/prideout/par
