[submodule "chipmunk/Chipmunk2D"]
	path = chipmunk/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D
[submodule "klib/klib"]
	path = klib/klib
	url = https://github.com/attractivechaos/klib
[submodule "tinycthread/tinycthread"]
	path = tinycthread/tinycthread
	url = https://github.com/tinycthread/tinycthread
